.req .del, .req .show {
	cursor: pointer;
	content: '(remove)';
	color: blue;
}
#requests .published::after {
	content: " (p)";
}
#requests .closed::after {
	content: " (c)";
}
#new_request textarea{
	height: 10em;
	white-space: nowrap;
}