.req .del, .req .show {
	cursor: pointer;
	content: '(remove)';
	color: blue;
}
#requests .published::after {
	content: " (p)";
}
#requests .closed::after {
	content: " (c)";
}
#new_request textarea{
	height: 10em;
	white-space: nowrap;
}
form#load_template{
	height:80%;
}

input:invalid, textarea:invalid {
  border: 2px dashed red;
}

input:valid, textarea:valid {
  border: 2px solid black;
}