urlid broker
url jdbc:hsqldb:file:broker;shutdown=true
username sa
password
transiso TRANSACTION_READ_COMMITTED
# When connecting directly to a file database like this, you should 
# use the shutdown connection property like this to shut down the DB
# properly when you exit the JVM.
#driver oracle.jdbc.OracleDriver
